
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}


<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card">
                <a class="card-block stretched-link text-decoration-none"  href="@Url.Action("Firmalar", "Firma")">
                    <h4 class="card-body">Firmalar</h4>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a class="card-block stretched-link text-decoration-none" href="@Url.Action("YeniGorev", "Gorevler")">
                    <h4 class="card-body">İş Oluştur</h4>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a class="card-block stretched-link text-decoration-none" href>
                    <h4 class="card-body">Card title</h4>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a class="card-block stretched-link text-decoration-none" href>
                    <h4 class="card-body">Card title</h4>
                </a>
            </div>
        </div>
    </div>
</div>
